.mainboard {
  background: #fff;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 134, 250);
  border-radius: 6px;
  overflow: hidden;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: solid 2px #EEEEEE;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 10px;
}

#submit {
  width : 8em;
  height : 2em;
}

textarea {
  resize: none;
}